#poke{
    text-align: center;
}

.texto{
    text-align: center;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}
#nombre{
    padding-right: 80px;
}

.button{
    margin-left: 20px;
}
.fondo{
    background-color: black;
}
.navbar{
    background-color: rgba(150, 150, 150, 0.99);
}
#abajo p{
    color: darkgray;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 230px;
}

.final{
    text-align: center;
}
.fondo2{
    background-color: black;

}

#search2{
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.grid-container {
    display: inline;
}

.canvasjs-chart-toolbar{
    bottom: unset;
}

#celda{
    width: 40%;
    text-align: center;
    
}

div.card-body{
    padding-bottom: 5px;
}

.buscar{
    padding-left: 30px;
    padding-right: 40px;
    text-align: center;

}

.card-title{
    text-align: center;
    color: white;
}

div.col-8{
    padding-left: 100px;
}

#nombre{
    padding-right: 40px;
}

#card{
    background: black;
}

input buscar{
    height: 25px;
    width: 200px;
}